* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #111;
}

a {
    text-decoration: none;
    color: inherit;
}

.auth-page {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.auth-image {
    position: relative;
    background: #111;
    color: white;
}

.auth-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .75;
}

.auth-image div {
    position: absolute;
    left: 10%;
    bottom: 10%;
}

.auth-image h2 {
    font-size: 70px;
    letter-spacing: -5px;
}

.auth-image p {
    font-size: 10px;
    letter-spacing: 4px;
}

.auth-form {
    max-width: 480px;
    width: 80%;
    margin: auto;
}

.logo {
    font-size: 25px;
    font-weight: 800;
}

.auth-form h1 {
    font-size: 45px;
    margin-top: 80px;
}

.subtitle {
    color: #777;
    font-size: 13px;
    margin: 12px 0 45px;
}

form {
    display: flex;
    flex-direction: column;
}

form > label {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 8px;
}

form input[type="email"],
form input[type="password"] {
    padding: 14px 0;
    border: none;
    border-bottom: 1px solid #bbb;
    outline: none;
    margin-bottom: 25px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    margin-bottom: 25px;
}

.options label {
    display: flex;
    gap: 7px;
    align-items: center;
}

.options input {
    width: auto;
}

.options a {
    text-decoration: underline;
}

form button {
    padding: 17px;
    background: #111;
    color: white;
    border: none;
    font-size: 10px;
    font-weight: bold;
}

#loginMessage {
    margin-top: 15px;
    font-size: 12px;
}

.switch {
    text-align: center;
    font-size: 11px;
    margin-top: 30px;
    color: #777;
}

.switch a {
    color: #111;
    font-weight: bold;
    text-decoration: underline;
}

.back {
    display: block;
    margin-top: 40px;
    font-size: 10px;
    text-align: center;
}

@media (max-width: 800px) {

    .auth-page {
        grid-template-columns: 1fr;
    }

    .auth-image {
        display: none;
    }

    .auth-form {
        width: 85%;
    }

    .auth-form h1 {
        margin-top: 50px;
    }
}

